@import '../../../../styles//variables.scss';


.menuMobile {
    position: absolute;
    display: flex;
    flex-direction: column;
    background: $black;
    left: 0px;
    top: 0px;
    height: 100%;
    padding-top: 70px;
    width: 17rem;
    z-index: 999;

    > button {
        font-weight: 700;
        border-bottom: 1px solid $blue;
        text-align: left;
    }
}

.menuDesktop {
    display: flex;
    align-items: flex-end;
    height: 100%;
    gap: 60px;
}

@media screen and (max-width: $tablet) {
    .menuDesktop {
        display: none;
    }
 }