@import '../../styles/variables.scss';

.layout {
    position: absolute;
    right: 0px;
    top: 70px;
    width: calc(100% - 15.625rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 36px;
    max-height: 72vh;
    overflow: auto;
}

@media screen and (max-width: $tablet) {
    .layout {
        width: 100%;
    }
 }